body {
  background-color: white;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

.photographer ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.photographer li {
  font-weight: 150;
  letter-spacing: 10px;
  padding: 30px;
}

.photographer li.logo {
  color: black;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 4px;
}

#banner {
  background-image: url("https://i.ibb.co/gFkBTGW/http-cdn-cnn-com-cnnnext-dam-assets-220421123034-06-david-yarrow-winters-coming.jpg");
  background-size: cover;

  background-position: bottom center;
  height: 400px;
  width: 100%;
}

#banner .content h1 {
  background-color: white;
  opacity: 0.85;
  border: 3px solid white;
  color: black;
  position: relative;
  top: 290px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

#main {
  margin: 0;
  padding: 40px;
  text-align: center;
  width: 400px;
  text-align: center;
}

h2 {
  color: tan;
  border: 1px ridge tan;
  font-size: 18px;
  line-height: 30px;
  padding: 20px 30px;
  margin: 30px 20px;
  text-align: center;
  
}

h3 {
  color: tan;
  font-size: 26px;
  font-weight: 550;
  padding: 20px 10px;
}

p {
  color: grey;
  font-size: 16px;
  line-height: 48px;
  margin-top: 40px;
  padding: 10px 20px;
}

.pull-quote {
  margin: 0 auto;
  width: 400px;
}

.byline {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  color: darkgray;
  font-size: 14px;
  font-weight: 200;
}

.share {
  border: 1px solid lightgray;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.share a {
  background: black;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

.share a:hover {
  background: white;
  border: 1px solid black;
  color: blanck;
}
